/* ------------ */
/* Reset        */
/* ------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box Sizing */

*,
*::before,
*::after{
  box-sizing: border-box;
}

/* Reset Margins*/

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture{
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-weight: 400;
}

/* make images easier to work with */

img,
picture{
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select{
  font: inherit;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion:reduce) {
  *,
  *::before,
  *::after{
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior:auto !important;
  }
}

/* ------------ */
/* Container Classes */
/* ------------ */

/* Set up the body */
#app{
  display: flex;
}
body{
  line-height: 1.5;
  min-height: 100vh;
}

.flex{
  display: flex;
  gap: var(--gap, 1rem);
}

.grid{
  display: grid;
  gap: var(--gap, 1rem);
}

/* select everything with a sibling prior */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
}

.container{
 min-width:100%;
 padding: 0 2.5em;
}
.wrapper{
  align-items: center;
  height: 100vh;
}
.content-container{
  padding-inline: 4em;
  min-width: 100vh;
}
.marquee{
  display: flex;
  justify-content: flex-start;
  max-width: 100;
  line-height: 1.5em;
  align-items: center;
}
.grid-container{
  display: grid;
  grid-template-columns: 2em  repeat(1, minmax(0, 80rem)) 2em;
}

.grid-container > *:first-child{
  grid-column: 2;
}

.sr-only{
  position:absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;   /* added line */
  border: 0;
}

.box{
  color: #000;
  background-color: lightblue;
  padding: 3rem;
}

nav{
  height: 5em;
}

.wrapper{
  display: flex;
  height: 100%;
}

.marquee span:nth-last-child(1) {
  background: red;
} 