@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");

/* ------------------ */
/* Custom properties  */
/* ------------------ */
:root {
  /* colors variables */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* font sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}
/* Body Set Up */

body{
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-size: var(--ff-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  overflow-x: hidden;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title{
 font-family: var(--ff-sans-cond);
 font-size: var(--fs-500);
 text-transform: uppercase;
 letter-spacing: 4.72px;
}

.numbered-title span{
  margin-right: .5em;
  font-weight: 700;
  color: hsl(var(--clr-white) /.25);
}

/* ------------------ */
/* Components  */
/* ------------------ */

.nav-button{
  position: relative;
  display: inline-grid;
  place-items: center;
  aspect-ratio: 1;
  padding: 0em .7em;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1;
  width: min-content;
}

.nav-button::after{
  content:'';
  z-index: -1;
  position: absolute;
  background: hsl(var(--clr-white) / .15);
  width:100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 500ms linear, transform 500ms ease-in-out;
}

.nav-button:hover::after,
.nav-button:focus::after{
 transform:scale(1.5);
}
.mobile-nav-toggle{
  display:none;
}
.primary-header{
  justify-content: flex-end;
  flex-wrap:wrap;
  margin-top: 2em;
}

@media (max-width: 35em) {
  .container{padding: 0;}
  .content{padding: 0!important}
  .primary-navigation{
    position:fixed;
    z-index: 10000;
    inset: 0 0 0 30%;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
    padding: min(30vh,  10rem) 2em !important;
    background: hsl(0 0% 100% / 0.1);
  backdrop-filter:blur(1rem);
    --gap:0em !important;
  }
  .primary-navigation[data-visible= true ]{
    transform: translateX(0%)
  }
  .mobile-nav-toggle{
    position: absolute;
    display: block;
    z-index: 9999;
    background-color: transparent;
    background: url("../assets/hamburger.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    border:none;
  }
 
  .mobile-nav-toggle[data-visible= true ]{
    background-image:  url("../assets/close-icon.png");
  }
}


.primary-navigation{
  --gap:2rem;
  --underline-gap: 1rem;
  list-style: none;
  margin: 0;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter:blur(1rem);
  z-index: 4;
}
@supports(backdrop-filter: blur(1rem)){
  .primary-navigation{
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter:blur(1rem);
  }
}
.primary-navigation a {
  text-decoration: none;
}
.primary-navigation a > span {
  color: hsl(var(--clr-white));
  font-weight: 700;
}

.underline-indicators > *{ 
  padding: var(--underline-gap, 1rem) 0;
  border-bottom: .2rem solid hsl(var(--clr-white)/0)
}

.underline-indicators > *:hover,
.underline-indicators > *:focus{
  border-color: hsl(var(--clr-white) /.5)
}

.underline-indicators > .active{
  border-color: hsl(var(--clr-white) /1);
}

.wrapper{
  padding-top: 6rem;
}
.content-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2em;
  /* height: 80vh; */
}
.marquee{
  padding-top:40px;
  height: 80vh;

}

.blurb{
  max-width: 500px;
}

.marquee button{
  margin-top: 4rem;
  padding: .5em 1em;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5%;
}
.container{
  background-image: url("../assets/dots_bg_fadetoblack.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.side-bar{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 40vh;
  align-self: flex-start; /* <-- this is the fix */
  
}
.lft{
  height: 50vh;
  display: flex;
  align-items: flex-end;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter:blur(1rem);
}
.rgt{
  height: 50vh;
  display: flex;
  align-items: flex-end;
  padding: 0 1.75em;
}
.social-icons{
  list-style-type: none;
  padding-inline:0;
}
.myemail a{
  writing-mode: vertical-rl;text-orientation: mixed;
  color: white;
  text-decoration: none;
}
.social-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.social-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.social-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #aebaff;
}

.fa-secondary {
  color: #aebaff;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.socialbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .content-container{
    padding-inline: 1em;
  }
  .side-bar{
    display: none;
  }
  .socialbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .socialbar-social {
    flex-direction: row;
  }

  .social-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}






