@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");

/* ------------------ */
/* Custom properties  */
/* ------------------ */
:root {
  /* colors variables */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* font sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* Body Set Up */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-size: var(--ff-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  overflow-x: hidden;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: .5em;
  font-weight: 700;
  color: hsl(var(--clr-white) /.25);
}

/* ------------------ */
/* Components  */
/* ------------------ */



.wrapper {
  display: flex;
  max-width: 2000px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 8%;
  padding-inline: 10em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 4em;
  margin-top: 6rem;
}

.content-header {
  margin: 4rem 0rem 3rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .marquee{
  padding-top:40px;

} */
.content {
  position: relative;
  isolation: isolate;

}

.content::after {
  content: ‘’;
  background-image: linear-gradient(rgb(0, 0, 0, .5), rgb(0, 0, 0, .5)), url("https://wallpapers.com/images/featured/pattern-4u7ed6koskqhcez1.jpg");
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(-5deg);
}

.blurb {
  max-width: 500px;
}

.marquee button {
  margin-top: 4rem;
  padding: .5em 1em;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5%;
}

.container {
  background-image: linear-gradient(to right, rgb(0, 0, 0, 9), rgb(0, 0, 0, .5)), url("../assets/images/bg-pattern.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

/* About section styles */
.about-content {
  margin-right: 5rem;
}

.side-bar {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 40vh;
  align-self: flex-start;
  /* <-- this is the fix */

}

.lft {
  /* height: 50vh; */
  display: flex;
  align-items: flex-end;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  margin-bottom: 1.40rem;
}

.rgt {
  height: 180px;
  padding: 0 1.75em;
}

.social-icons {
  list-style-type: none;
  padding-inline: 0;
}

/* right sidebar email link */
.myemail a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
  text-decoration: none;
  margin-top: 8rem;
}

.social-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.social-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.social-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #aebaff;
}

.fa-secondary {
  color: #aebaff;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.socialbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 768px) {
  .content-container {
    padding-inline: 1em;
  }

  .side-bar {
    display: none;
  }

  .socialbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .socialbar-social {
    flex-direction: row;
  }

  .social-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .content-header {
    text-align: center;
  }

  .about-content {
    margin: 0;
    padding-bottom: 2rem;
  }

  .emails {
    height: 400px;
    display: inline-block !important;
  }

  .web {
    padding-top: 180px;

  }

}

.column-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;
}

.profile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col {
    flex: 1
  }
}

/* Big screens */
/* 

@media screen and (max-width: 2800px) {
.primary-header{  
  margin-right:16em!important;
}
} */
@media screen and (min-width: 2200px) {

  .primary-header {
    position: absolute;
    margin-right: 24vh !important;
  }
}


@media screen and (min-width: 2000px) {
  .container {
    max-width: 2000px;
    padding: 0 5%;
  }

  .content-container {
    padding-inline: 14em;
  }

}

@media screen and (max-width: 1720px) {
  .container {
    padding: 0 3%;
  }

  .rgt {
    height: 20vh !important;
  }


}





/* ------------ */
/* Reset        */
/* ------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins*/

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion:reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------ */
/* Container Classes */
/* ------------ */

/* Set up the body */
#app {
  display: flex;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

p {
  font-size: 18px !important;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* select everything with a sibling prior */
.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
}

.container {
  min-width: 100%;
  padding: 0 2.5em;
}

.content-container {
  padding-inline: 5em;
}

.marquee {
  display: flex;
  justify-content: flex-start;
  max-width: 100;
  line-height: 1.5em;
  align-items: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 2em repeat(1, minmax(0, 80rem)) 2em;
}

.grid-container>*:first-child {
  grid-column: 2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.box {
  color: #000;
  background-color: lightblue;
  padding: 3rem;
}

nav {
  height: 5em;
}

.wrapper {
  display: flex;
}

.marquee span:nth-last-child(1) {
  background: red;
}